/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    line-height: 1.6;
}

header {
    background-color: black;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    color: white;
}

.logo img {
    width: 90px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
}
.menu {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px; /* Ajusta el padding según sea necesario */
    display: flex; /* Cambia a flex para alinear el contenido */
    align-items: center; /* Alinea el contenido verticalmente */
}

.btn {
    color: white;
    background-color: red;
    text-decoration: none; /* Corrige o elimina esta línea */
    border-radius: 5px;
    padding: 10px 20px;
}
.btn:hover {
    background-color: #333;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #f4f4f4;
    margin-top: 50px;
}

.hero .btn {
    margin-top: 20px; /* Ajusta el valor según sea necesario */
}

.grande {
    font-size: 6em;
    font-weight: bold;
    color: black;
}

.subtitulo {
    font-size: 2em;
    color: black;
    margin-bottom: 50px;
}

.mensaje {
    font-size: 2em;
    color: black;
    margin-bottom: 20px;
}




.formato-mensajes {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 20px;
}

.titulo-mensajes {
    font-size: 54px;
    font-weight: bold;
    color: #333;
}


.elementos-tabla {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

table.grande {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table.grande th, table.grande td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Centra el texto en las celdas */
}

table.grande th {
    background-color: #f2f2f2;
    color: #333;
    text-align: center; /* Centra el texto en los encabezados */
}

table.grande td {
    text-align: center; /* Centra el texto en las celdas */
}